body{
	margin-top:50px;
}


#banner1 {
	background-image:url(../../img/banner.jpg);
	background-position: center 0;
	height: 600px;
}
.desc{
	margin-top:200px;
}
.desc h1,.desc p{color:#eeeeee}
#banner2 {
	background-image:url(../../img/big1.jpg);
	background-position: center 0;
	height: 600px;
}
.navbar {
	margin-bottom: 0px;
}
#content{
	margin-top:10px;
	padding-top:10px;
	background-image:url(../../img/banner4.jpg);
	background-attachment:fixed;
}
#footer ul{
	list-style:none;
	margin:0;
	padding:0;
}
